on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      - name: Run go fmt
        run: go fmt ./...
      - name: Run go vet
        run: go vet ./...

  build:
    needs: lint
    if: github.ref == 'refs/heads/master'
    strategy:
      fail-fast: false
      matrix:
        job:
          - {
              goos: linux,
              goarch: amd64,
              exe: amd64-linux,
              os: ubuntu-latest,
            }
          - {
              goos: linux,
              goarch: arm64,
              goarch_alt: aarch64,
              exe: aarch64-linux,
              os: ubuntu-latest,
            }
          - { 
              goos: darwin, 
              goarch: amd64, 
              exe: macos, 
              os: macos-latest 
            }
    runs-on: ${{ matrix.job.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      - name: Build binary
        run: |
          GOOS=${{ matrix.job.goos }} GOARCH=${{ matrix.job.goarch }} go build -o supdock-${{ matrix.job.exe }} .
      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: supdock-${{ matrix.job.exe }}
          path: supdock-${{ matrix.job.exe }}

  release:
    needs: build
    environment: production
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    outputs:
      tag_exists: ${{ steps.check_tag.outputs.exists }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4.1.7
        with:
          name: supdock-macos
          path: bin
      - uses: actions/download-artifact@v4.1.7
        with:
          name: supdock-aarch64-linux
          path: bin
      - uses: actions/download-artifact@v4.1.7
        with:
          name: supdock-amd64-linux
          path: bin
      - name: Get current package version
        id: current_version
        run: echo "version=$(make version)" >> $GITHUB_OUTPUT
      - uses: mukunku/tag-exists-action@v1.4.0
        id: check_tag
        with:
          tag: "${{ steps.current_version.outputs.version }}"
      - uses: "marvinpinto/action-automatic-releases@latest"
        if: steps.check_tag.outputs.exists == 'false'
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "${{ steps.current_version.outputs.version }}"
          prerelease: false
          files: |
            ./bin/supdock-macos
            ./bin/supdock-aarch64-linux
            ./bin/supdock-amd64-linux

  npm:
    needs: release
    environment: production
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master' && needs.release.outputs.tag_exists == 'false'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: "18.x"
          registry-url: "https://registry.npmjs.org"
      - uses: actions/download-artifact@v4.1.7
        with:
          name: supdock-macos
          path: bin
      - uses: actions/download-artifact@v4.1.7
        with:
          name: supdock-aarch64-linux
          path: bin
      - uses: actions/download-artifact@v4.1.7
        with:
          name: supdock-amd64-linux
          path: bin
      - name: Get current package version
        id: current_version
        run: echo "version=$(make version)" >> $GITHUB_OUTPUT
      - name: Publish to NPM
        run: |
          npm version ${{ steps.current_version.outputs.version }} --no-git-tag-version --no-commit-hooks --allow-same-version
          npm publish || true
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
